@charset "UTF-8";

*{padding: 0px; margin: 0px;}
li{list-style-type: none;}
a {
    text-decoration: none;
    color: #333;
}

#footerbox{
	position: relative;
    width: 100%;
    background-color: #f2c000;
    height: 310px;
    box-sizing: border-box;
}
.ft_menu{padding-top: 45px;}





























