@charset "UTF-8";

/* css 기본값 제거 */
*{ margin: 0px; padding: 0px; } /* 여백 제거 */
li{ list-style-type: none; } /* 글머리 제거 */


.container{width: 1200px; margin: 0 auto;
			display: flex; flex-direction: column;
			background-color: #eeecec;
			
}

	
/*고객센터,자주하는질문, 고객의 소리*/
.top{display:flex; direction: row; justify-content: space-between;
	font-family: NotoSans, AppleSDGothicNeo-Light, AppleGothic, Malgun Gothic,'맑은 고딕',sans-serif;
	
}

/*전체, 검색어입력,검색 부분 사이즈 조절*/
.t_table{width:1200px; margin:0 auto;}


.left{margin-top: 50px; margin-left: 30px;
		font-weight: 550px; 
	
}

.right{ margin-top:50px; margin-right:30px;
		font-size: 20px;
}
/*자주하는 질문/ 고객의 소리 */
.right li{display: inline;}




#content3{
	width: 1200px;
    display: flex;
    margin: 0 auto;
	
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 75px 0 100px 0;
}

.info1{
	float: left;
    width: 31.5%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border-top: 6px solid #373737;
    height: 170px
}
.li_01{
	margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}
.li_02{
	margin-top: 2px;
    font-size: 36px;
    font-weight: bold;
    color: #373737;
}
.li_03{
	margin-top: 10px;
    color: #909090;
    line-height: 150%;
    font-size: 15px;
    
}