@charset "UTF-8";

*{padding: 0px; margin: 0px; font-family: 'Noto Sans KR', sans-serif;}


li{list-style-type: none;}

/* 본문 전체 구역 */
#wrap{
	background-color: #eeecec;
	letter-spacing: -0.7px;
}

/* 본문 구역 box */
.mainwrap{
	width: 1200px;
	margin: 0 auto;
}

/* 로그인구역과 회원가입버튼구역을 묶어주는 box */
.content{
	width: 100%;
	height: 560px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* 로그인 구역 box */
.loginbox{
	width: 57.5%;
	background-color: #fff;
	position: relative;
	padding: 100px 0 60px 0;
}

/* 로그인박스 위쪽 띠 */
.loginbox:before{
	content: '';
    width: 100%;
    height: 6px;
    background-color: #f2c000;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

/* 로그인 입력부분 box */
.login{
	width: 473px;
	margin: 0 auto;
}

/* 로그인창 타이틀 텍스트 */
.logintext{
	font-size: 36px
}

/* 로그인 타이틀 텍스트 왼쪽 자물쇠 이미지 */
.logintext:before{
	content: '';
    width: 27px;
    height: 32px;
    background: url(../img/img_choi/icon_login.png) left top no-repeat;
    background-size: 27px 32px;
    margin: 0 20px -2px 0;
    display: inline-block;
}

/* 입력창 전체 box */
.inputbox{
	margin-top: 50px;
}

/* 아이디 입력창 */
.loginInput{
	width: 100%;
	height: 50px;
	display: flex;
	color: #373737;
	border: 2px solid #eeecec;
	text-indent: 20px;
}

/* 비밀번호 입력창 */
.pwInput{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	color: #373737;
	border: 2px solid #eeecec;
	text-indent: 20px;
}

/* 아이디저장 텍스트 box */
.loginbottom{
	display: flex;
	justify-content: space-between;
}

/* 아이디저장 텍스트(비활성화) */
.saveId{
	margin-top: 20px;
}

/* 아이디저장 옆 텍스트 체크box 이미지(비활성화) */
.saveId:before{
	content: '';
    background: url(../img/img_choi/icon_chb.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-size: 25px 50px;
    background-position: 0 0;
    margin: -1px 0px 0 0;
}

/* 아이디저장 텍스트(활성화) */
.csaveId{
	margin-top: 20px;
}

/* 아이디저장 옆 텍스트 체크box 이미지(활성화) */
.csaveId:before{
	content: '';
    background: url(../img/img_choi/icon_chb.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-size: 25px 50px;
    background-position: 0 100%;
    margin: -1px 0px 0 0;
}

/* 아이디/비밀번호찾기 텍스트 box */
.findId{
	color: #5c5953;
    background: url(../img/img_choi/icon_search.png) left 5px no-repeat;
    padding-left: 20px;
    position: relative;
    transition-duration: 0.3s;
    background-size: 14px 14px;
    margin-top: 20px;
}

/* 아이디/비밀번호 찾기 커서 올렸을시 이미지, 텍스트 색상 변환 */
.findId:hover{
	color: #f2c000;
	background: url(../img/img_choi/icon_search_hover.png) left 5px no-repeat;
	background-size: 14px 14px;
}

/* 로그인버튼 box */
.buttonbox{
	margin-top: 83px;
	position: relative;
	color: #c3c1c1;
    text-align: center;
}

/* 로그인버튼 활성화 */
.aloginbtn{
	width: 100%;
	padding: 20px 0px;
	border: none;
	font-weight: bold;
	font-size: 15px;
	background-color: #f2c000;
}

/* 로그인버튼 비활성화 */
.dloginbtn{
	width: 100%;
	padding: 20px 0px;
	border: none;
	font-weight: bold;
	font-size: 15px;
	background-color: #eeecec;
}



/* 회원가입 버튼 구역 box */
.joinbox{
	width: 40%;
	background-color: #fff;
	padding: 296px 0 60px 0;
	position: relative;
}

.joinbox span{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.joinbox img{
	width: 100%;
}

.joinInfo{
	width: 270px;
	margin: 0 auto;
}

.joinInfo h3{
	font-weight: normal;
	text-align: center;
	font-size: 24px;
}

.joinInfo p{
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
}

.joinbottom{
	margin-top: 50px;
}

.joinbtn{
	width: 100%;
	color: #fff;
    background-color: #5c5953;
    text-align: center;
    padding: 20px 0px;
}

























