@charset "UTF-8";
*{margin: 0px;padding: 0px;}
li , ul{list-style-type: none;}
a{text-decoration: none;} 

.warp{
	background: #EEECEC;
	margin-bottom: -49px;
}

#content1{
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}
#content2{
	width: 1187px;
	margin: 0 auto;
	margin-top: 60px;
	border-top: 6px solid #373737;
}
#content3{
	width: 1200px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 75px 0 100px 0;
}
.c_name1 h2{
	padding: 53px 0 0 30px;
    height: 140px;
    box-sizing: border-box;
    font-weight: bold;
}
.c_name1{border-bottom:solid 2px #EEECEC; }
.c_name2{
	position: absolute;
    right: 400px;
    top: 265px;
    width: auto;
    font-size: 20px;
}
.tap_menu{width: 100%;}
.tap_menu li{
	display: inline-block;
	padding-left: 30px;
}
.row{
	padding: 28px 0 0 30px;
    height: 94px;
    box-sizing: border-box;  
}
.col-2 > button{
	background-color: #5C5953;
	color: white;
	font-weight: bold;
}
.side_result{
	display: flex;
	justify-content: flex-end;
	margin-right: -468px;
    margin-top: -30px;
}
.em_numer{color: #F2C000; font-weight: bold;}
.em_name1 a{color: #F2C000; }
/*tap_menu 자식의 li자식의 a를   글자의굵기 를 어떻게 정할껀지*/
.tap_menu > li > a{font-weight: bold;}
.em_name2 a{color: #CFC6BC}
.side_result > span{
	font-weight: bold;
	color: #909090;
}
.col-2 > select{color: #909090}
.td_01{color: #CFC6C2;}
.td_02{font-size: 13px;}
.td_03{font-size: 14px;}
.info1{
	float: left;
    width: 31.5%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border-top: 6px solid #373737;
    height: 170px
}
.li_01{
	margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}
.li_02{
	margin-top: 2px;
    font-size: 36px;
    font-weight: bold;
    color: #373737;
}
.li_03{
	margin-top: 10px;
    color: #909090;
    line-height: 150%;
    font-size: 13px;
    
}
.list_btn{
	width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0px;
}
.em_name1 > a:hover{color: #F2C000 }
.em_name2 > a:hover{color: #F2C000 }
#content2_box{
	border-top: solid 6px #373737;
    width: 1200px;
    background-color: white;
    margin-left: 352px;
    margin-top: 45px;
}
#btn1{
	margin-left: 3px;
    margin-bottom: -84px;
}
























