@charset "UTF-8";
*{padding:0; margin:0; box-sizing: border-box; letter-spacing: -0.7px;}
li { list-style-type: none; }
a {color: black; text-decoration: none;}
/*------------------------------------*/
#wrap {
	background-color: #EEECEC;
}

.layout {
	width: 1200px;
	margin: 0 auto;
}

.menubar_top {
	background-color: white;
	width: 100%;
	height: 140px;
	display: flex;
	position: relative;
}

.menubar_top > h2 {
	font-size: 36px;
	padding: 53px 0 0 30px;
	font-weight: 600;
}

.tab_menu {
	font-size: 24px;
	position: absolute;
	top: 68px;
	right: 50px;
}


.keyword1 {
	color: #f2c000;
}

.keyword2 {
	color: #cfc6bc;
	padding-left: 30px;
}

.contentarea {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.sidebar {
	border-top : 6px solid #5c5953;
	width: 270px;
	background-color: white;
	padding: 15px 30px;
	height: 463px;
}

.menubar {
	border-bottom: 1px solid #e8e8e8;
}

.menubar > a {
	padding: 20px 0;
	display: inline-block;
	width: 210px;
	font-weight: 600;
}
.menubar:hover >a{
	color: #f2c000;
}


/*-------------------컨텐츠---------------------*/
.content {
	width: 870px;
}

.ctext1 {
    color: #909090;
    padding-bottom: 5px;
    font-size: 15px;
}


.ctext2 {
    color: #373737;
    padding-bottom: 5px;
    font-size: 24px;
}

.ctext2:after {
	content: '';
    width: 40px;
    height: 4px;
    background-color: #373737;
    display: block;
    margin-top: 15px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.menu_item {
	margin-top: 30px;
	width: 270px;
	height: 335px;
}

.menuimg_area {
	width: 270px;
	height:230px;
	overflow: hidden;
	position: relative;
	display: block;
}

.newicon {
	width: 50px;
	height: 50px;
	background-color: #f2c000;
	color: white;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index : 10;
	display: block;
}

.menu_item:hover .menuimg {
	transform: scale(1.03);

}

.menuimg {
	width: 270px;
	transition: all 0.2s linear;
}



.m_info{
    padding: 30px 0;
	display: block;
    background-color: #e4e2e2;
}

.mtitle {
	font-weight: 600;
	color: #373737;
	font-size: 18px;
	text-align: center;
	display: block;
}

.mprice {
	color: #909090;
	font-size: 15px;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
	display: block;
}

.line {
	width: 100%;
	border-bottom: 1px solid #dad8d8;
	margin-top: 80px;
}

.caution_text {
    color: #909090;
    font-weight: bold;
    padding-top: 20px;
    font-size : 18px;
}



/* ---------------------더 많은 이야기------------------ */

.content_bottom {
	margin-top: 100px;
	padding-bottom: 100px;
}
	

.bottom_text {
	width: 100%;
	display : flex;
	position: relative;
	margin-bottom: 60px;
}

.bottom_text >h2 {
	font-weight: 700;
	font-size : 24px;
}

.line2 {
	width: 1020px;
	border-bottom: 10px solid #373737;
	position: absolute;
	top: 10px;
	left: 180px;
}

.more_area {
	display: flex;
	justify-content: space-between;
}

.moreimg {
	width: 370px;
	height: 266px;
}

.moreimg_img {
	width: 370px;
}

.moreimg_a {
	position: relative;
	width: 370px;
	height: 266px;
	display: inline-block;
}

.moreimg_a > img {
	cursor: pointer;
}

.moreimg_a:hover .moreimg_text {
	color:#f2c000;
}
.moreimg_text_area {
	width: 370px;
	height: 61px;
    background-color: #373737;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px 22px 20px 22px;
}

.moreimg_text {
	font-size: 15px;
	color: white;
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}


