@charset "UTF-8";

*{padding:0; margin:0; list-style: none; font-family : 'TTWanjudaedunsancheB';}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}





#wrap {
   width: 1800px;
   display: flex;
   margin: 0 auto;
}

#u_view , #m_view {
   width: 50%;
   margin-left: 80px;
}

.u_header {
   padding: 10px;
   margin-top: 50px;
}
.logo1{
    position: relative;
    left: 300px;
}

.content_box { 
   text-align: center;
   margin-top: 30px;
   width: 100%; 
   margin-top: 70px;
}


.join_box {
   margin-left: 120px;
}

.s_id , .j_id {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.s_pw1 , .j_pw2 , .s_name1{margin-top: 20px;}
.btn_join , .btn_sign{
	margin-top: 30px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: #C0EDE7;
}

.btn_join:hover { border: 1px solid red; filter: drop-shadow(8px 3px 3px #c3c3c3); }
.btn_sign:hover { border: 1px solid red; filter: drop-shadow(8px 3px 3px #c3c3c3); }

.s_id_input , .s_pw_input , .s_name_input , .j_id_input , .j_pw_input{
	outline: none;
	border: none;
	border-bottom: solid 1px #A8B3FF;
}
.sign_box , .join_box{
	border: solid 1px #6E7BD8;
	padding: 25px;
	display: inline-block;
}

/* 관리자화면 */

.m_used_info > h3 , .alluser_list > h3 {
   text-align: center
}

.table1 , .table2 {
   margin: 0 auto;
}

.seatClick2{
	background-color: red;
	padding: 12px;
    border: none;
    margin: 17px;
    width: 92px;
    color: white;
}


.seatClick3{
	background-color: blue;
	padding: 12px;
    border: none;
    margin: 17px;
    width: 92px;
    color: white;
}

.timeClick2{
	background-color: blue;
	border: none;
	padding: 20px;
    border-radius: 40px;
    color: white;
}

.main_box , .main_box2 , .main_box3{
	border: solid 1px #6E7BD8;
}
.main_box{
	padding: 30px;
}
.main_box2{
	padding: 30px;
	margin-top: 25px;
}
.main_box3{
	padding: 30px;
	margin-top: 25px;
	display: flex;
    justify-content: space-evenly;
}

.seatClick{
	padding: 20px;
    border: none;
    margin: 17px;
    background-color: #A8B3FF;
    width: 100px;
}

.seatClick:hover { border: 1px solid red; filter: drop-shadow(8px 3px 3px #c3c3c3); }

.timeClick1{
	border: none;
	padding: 20px;
    border-radius: 40px;
    background-color: #C0EDE7;
}
.timeClick1:hover { border: 1px solid red; filter: drop-shadow(8px 3px 3px #c3c3c3); }

.payment{
	width: 140px;
    padding: 16px;
    border-radius: 12px;
    background-color: red;
    border: 1px solid red;
    color: white;
}

.payment:hover { border: 1px solid black; filter: drop-shadow(8px 3px 3px #c3c3c3); }

.resetbutton{
	padding: 10px;
	width : 50px;
	height : 50px;
	background-color: #F4F6FF;
	border-radius: 12px;
	background-image: url("img/resetimg.png");
	background-size : 50px;
	background-position-x: 48px; 
	background-position-y: 54px; 
	position: absolute;
}

.resetbutton:hover { border: 1px solid black; filter: drop-shadow(8px 3px 3px #c3c3c3); }

.m_used_info{
	border: solid 1px #6E7BD8;
	margin-top: 80px;
}
.alluser_list{
	border: solid 1px #6E7BD8;
	margin-top: 80px;
}
.table1{
	margin-top: 15px;
	border: solid 1px #E3EDEB;
}
.table2{
	margin-top: 15px;
	border: solid 1px #E3EDEB;;
}


.m_content button{
	background-color: red;
	color: white;
	border-radius: 5px;
	border: 1px solid red;
	padding: 2px 5px;
}
























