@charset "UTF-8";

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{padding:0; margin:0; list-style: none;}

#wrap {
   width: 1800px;
   display: flex;
   margin: 0 auto;
}

#u_view , #m_view {
   width: 50%;
   
}

.u_header {
   text-align: center;
   padding: 10px;
}

.content_box {
   display: flex;
   text-align: center;
   margin-top: 30px;
   width: 100%;
   justify-content: center;
   margin-top: 70px;
}


.join_box {
   margin-left: 120px;
}

.s_id , .j_id {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.s_pw1 , .j_pw2 , .s_name1{margin-top: 20px;}
.btn_join , .btn_sign{
	margin-top: 30px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: #C0EDE7;
}
.s_id_input , .s_pw_input , .s_name_input , .j_id_input , .j_pw_input{
	outline: none;
	border: none;
	border-bottom: solid 1px #A8B3FF;
}
.sign_box , .join_box{
	border: solid 1px #E3EDEB;
	padding: 25px;
}

/* 관리자화면 */

.m_used_info > h3 , .alluser_list > h3 {
   text-align: center
}

.table1 , .table2 {
   margin: 0 auto;
}

.seatClick2{
	background-color: red;
}

.seatClick3{
	background-color: blue;
}

.timeClick2{
	background-color: blue;
}

.seatClick{
	background-size: 10px;
}

































